<div class="container-fluid bgimg">
    <div class="row d-md-flex mt-5">
        <div class="col-sm-6 p-0 pt-0  wow fadeInLeft">
            <img class="img-fluid" src="../../../assets/img/services.png" alt="Gallery">
        </div>
        <div class="col-sm-6 pl-5 pr-5 pt-4 pb-4 wow fadeInRight">
            <p class="listprod1">Configuración de PC</p>
            <p class="text-lighter">Recomendamos las configuraciones de hardward mas convenientes para cada tipo de requerimiento</p>
            <p><a href="configuracion.html" class="btn2 btn-primary">[ Ver Más ]</a></p>

            <p class="listprod1">Instalación de sistemas operativos</p>
            <p class="text-lighter">Instalamos Sistemas Operativos Windows, Linux. Optimizando los recursos disponibles para una mejor performance y se activan actualizaciones para evitar problemas de seguridad</p>
            <p><a href="instalacion.html" class="btn2 btn-primary">[ Ver Más ]</a></p>

            <p class="listprod1">Instalación de redes y segurización</p>
            <p class="text-lighter">Instalamos redes para hogares y empresas, nos ocupamos de satisfacer las necesidades de wifi en cada lugar, para que siempre puedan estar conectados de la manera más confiable</p>
            <p><a href="redes.html" class="btn2 btn-primary">[ Ver Más ]</a></p>
        </div>
    </div>
</div>