<div class="container-fluid pt-6 bgimg">
    <div class="row d-md-flex mt-5">
        <div class="col-sm-6 p-0 pt-0 pb-5 wow fadeInLeft">
            <img class="img-fluid mx-auto d-block" src="../../../assets/img/product.png" />
        </div>
        <div class="col-sm-6 pl-5 pr-5 pt-4 pb-4 wow fadeInRight">
            <h3 class="text-white">Aconcagua Informática<b><br> </b></h3>
            <p class="mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2 text-black">
                Somos una empresa joven, con un grupo de personas comprometidas en ofrecer servicios y soluciones óptimas.<br> Nuestros clientes son el capital que día a día vamos apuntalando para seguir creciendo.<br> En este intercambio nos esforzamos
                por garantizar que la calidad sea el objetivo para beneficio mutuo.
            </p>
        </div>
    </div>
</div>